.nav
  = render 'shared/notification'
  .wrapper
    = render 'shared/chat-side'
    .chat-middle
      .chat-top
        .left-header
          .left-header__title
            tech-three
          %ul.left-header__members
            Member：
            %li.member
              濟川奈津美
            %li.member
              田中大貴
            %li.member
              小室裕也
        .right-header
          .right-header__button
            Edit
      .messages
        .message
          .upper-message
            .upper-message__user-name
              濟川奈津美
            .upper-message__date
              2018/09/20
          .lower-meesage
            .lower-message__content
              メッセージ
        .message
          .upper-message
            .upper-message__user-name
              田中大貴
            .upper-message__date
              2017/09/20
          .lower-meesage
            .lower-message__content
              メッセージ
        .message
          .upper-message
            .upper-message__user-name
              小室裕也
            .upper-message__date
              2017/09/20
          .lower-meesage
            .lower-message__content
              メッセージ
        .message
          .upper-message
            .upper-message__user-name
              田中大貴
            .upper-message__date
              2017/09/20
          .lower-meesage
            .lower-message__content
              メッセージ
        .message
          .upper-message
            .upper-message__user-name
              濟川奈津美
            .upper-message__date
              2017/09/20
          .lower-meesage
            .lower-message__content
              メッセージ
        .message
          .upper-message
            .upper-message__user-name
              小室裕也
            .upper-message__date
              2017/09/20
          .lower-meesage
            .lower-message__content
              新着メッセージ
      .chat-bottom
        %form
          %input.form__message
          .form__mask
            %label.form__mask__image
              = fa_icon 'images', class: 'icon'
          %input.form__submit{type: 'submit', value: 'Send'}
           