.chat-side
  .header
    %h3.header__name
      濟川奈津美
    %ul.header__lists
      %li.list
        = link_to do
          = fa_icon 'pen-square', class: 'icon'
      %li.list
        = link_to do
          = fa_icon 'cog', class: 'icon'
  .groups
    .group
      .group__name
        tech-three
      .group__message
        新着メッセージ
         