.notification{
  height: 24px;
  position: fixed;
  width: 100%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  .alert {
    background-color: #F35500;
    color: #fff;
    text-align: center;
  }
} 
